-i https://pypi.org/simple/
aiohttp==3.7.2
aiojobs==0.2.2
async-timeout==3.0.1
attrs==20.2.0
boto3==1.9.243
botocore==1.12.253
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
docutils==0.15.2
idna==2.10
iso8601==0.1.13
jmespath==0.10.0
kopf==0.21
multidict==5.0.0
pykube-ng==20.10.0
python-dateutil==2.8.1 ; python_version >= '2.7'
pyyaml==5.3.1
requests==2.24.0
s3transfer==0.2.1
six==1.15.0
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.25.11 ; python_version >= '3.4'
yarl==1.6.2
